.diagram-component {
  width: 400px;
  height: 400px;
  border: solid 1px black;
  background-color: white;
}

/* .campus-map:hover {
  background-image: url("https://raw.githubusercontent.com/img-mapper/react-docs/master/src/assets/example.jpg") !important;
  background-size: cover;
  background-position: center;
  color: white;
} */
